

.swiper-container, .swiper-container-video {
    width: 100%;
    display: block;
    overflow: hidden;
}
.swiper-container img {
    width: 100%;
}

.swiper-container-video img {
    width: 100%;
    height: 80px;
}
.toyota-bullet, .toyota-bullet-active {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 100%;
    border: 2px solid #fff;
    margin: 0 4px;
    opacity: .8;
}
.toyota-bullet-active {
    background: #fff;
    opacity: .8;
}

.policy {
    text-align: center;
}
.policy .textSign {
    color: #fff;
    font-size: 14px;
}
.policy input[type='checkbox']{
    width: 12px;
    height: 12px;
    background: #fff;
    position: relative;
}
.policy input[type='checkbox']:checked::before{
    content: '';
    position: absolute;
    width: 5px;
    height: 10px;
    color: #000;
    border-bottom: 2px solid;
    border-right: 2px solid;
    left: 7px;
    top: 1px;
    transform-origin: center;
    transform: translate(-50%, -30%) rotate(45deg);
    -webkit-transform: translate(-50%, -30%) rotate(45deg);
}
#btnsave {
    display: block;
    width: 400px;
    height: 52px;
    color: #ca2835;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    margin: 0 auto;
    background: #fff;
    box-shadow: 1px 2px 9px rgba(0,0,0,.4);
}

.video-warp {
    width: 100%;
    background: url('../imgs/flow_05.jpg') no-repeat 0 0;
    height: 666px;
    background-size: 100% 100%;
    padding: 50px;
}
.video-bg {
    background: #000;
    padding: 30px;
}
.gallery-top {
    height: 60%;
    width: 100%;
    margin-bottom: 30px;
}
.gallery-top .swiper-wrapper {
    height: 340px;
}
.gallery-top video {
    width: 100%;
    height: 100%;
}
.gallery-thumbs {
    height: 20%;
    box-sizing: border-box;
    padding: 10px;
    border: 2px solid #ccc;

}
.gallery-thumbs .swiper-slide {
    width: 25%;
    height: 100%;
    /* opacity: 0.4; */
}
.gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
}


.register-warp {
    width: 100%;
    background: url('../imgs/flow_03.jpg') no-repeat 0 0;
    height: 548px;
    background-size: 100% 100%;
    padding: 50px 40px;
}
.register-panel {
    background: #ca2835;
    padding: 40px 70px;
}
.flex-1 {
    flex: 1;
}
.register-row {
    display: flex;
}
.register-input {
    width: 250px;
    height: 48px;
    color: #aaa;
    background: #fff;
    margin-right: 10px;
    padding-left:10px;
}
.register-input:last-child {
    margin-right: 0;
}
.register-select {
    width: 100%;
    height: 100%;
    color: #aaa;
    padding-left: 10px;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    padding-left: 10px;
}
.regist-message {
    color: #fff;
    font-size: 16px;
    text-align: center;
    margin: 20px 0;
}

.car-setting {
    width: 100%;
    background: url('../imgs/flow_12.jpg') no-repeat 0 0;
    height: 820px;
    background-size: 100% 100%;
    padding: 80px 40px;
}
.setting-context {
    height: 600px;
    background: #ab1f37;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .48);
    border-radius: 6px;
    padding: 10px;
    overflow: hidden;
}
.setting-scroll {
    width: 100%;
    height:100%;
    overflow: scroll;
    position: relative;
}


.config-img {
    position: relative;
    top:0;
    left: 0;
    transform: scale(3);
    transform-origin: 0 0;
}