

.layout {
	max-width: 450px;
	margin: 0 auto;
	overflow: hidden;
}
.header {
	position: relative;
}
.header img {
	width: 100%;
	height: 100%;
}

.header .sign {
	position: absolute;
	right: 10px;
	bottom: 20px;
	z-index: 2;
	color: #fff;
	font-size: 12px;
}

.container {
	position: relative;
	background-image: url('../imgs/container_1.png');
	background-position: center;
	background-size: cover;
	height: 8.2rem;
}

.container-video {
	position: absolute;
	top: 2.49rem;
	left: 0.175rem;
	width: 3.64rem;
	height: 2.03rem;
}


.swiper-container, .swiper-container-video {
    width: 100%;
    display: block;
    overflow: hidden;
}
.swiper-container img {
    width: 100%;
}

.swiper-container-video img {
    width: 100%;
    height: 80px;
}

.swiper-container {
	position: absolute;
	top: 5.82rem;
	left: 0.24rem;
	width: 3.51rem;
	height: 2.0183rem;
}

.container-setting {
	width: 100%;
}
.container-setting img {
	width: 100%;
}

.form-container {
	width: 100%;
	padding: 40px 20px;
	background: url(../imgs/img_3.jpg) no-repeat 0 0;
    background-size: 100% 100%;
}

.form-container .button {
	width: 60%;
	background-color: rgba(3, 44, 81, 1);
	color:#fff;
}
.mui-form {
	background: #fff;
	border-radius: 4px;
	padding: 25px;
}
.mui-form img {
	width: 100%;
	margin-bottom: 40px;
}

.mui-textfield>label {
	font-size: 14px;
	color: #3e3a39;
	overflow: hidden;
}
.mui-textfield>input {
	font-size: 14px;
	border-bottom: 1px solid #757575;
}
.mui-select>select {
	color: #3e3a39;
	background-image: none;
	font-size: 12px;
	border-bottom: 1px solid #757575;
}

.mui-select>label {
	color: #3e3a39;
	font-size: 14px;
	overflow: hidden;
}

.mui-select>label .arrow {
	position: absolute;
	right: 15px;
	top: 0;
	display: inline-block;
    border-top: 1px solid;
    border-right: 1px solid;
    width: 10px;
    height: 10px;
    border-color: #3e3a39;
    transform: rotate(135deg);
}

.auth-label a {
	color: #3e3a39;
	font-size: 13px;
}

.mui-checkbox>label>input[type=checkbox] {
	margin-top: 6px;
}
.mui-btn {
	font-size: 16px;
    color: #fff;
    background-color: #27678f;
    width: 90%;
    height: 40px;
    border-radius: 30px;
	display: inline-block;
	letter-spacing: 4px;
}
.mui-btn:hover {
	background: #165176;
	color: #fff;
}

.modal {
	width: 95%;
	height: 90%;
	background-color: #fff;
	padding: 10px;
}
.modal .modal-container{
	width: 100%;
	height: 100%;
	overflow: scroll;
}
.modal h2{
	text-align: center;
	font-weight: bold;
}

video::--webkit-media-controls-play-button {
  display: none !important;
  -webkit-appearance: none !important;
}