
body {
	background: #003642;
}
.layout {
	max-width: 450px;
	margin: 0 auto;
	overflow: hidden;
}
.header {
	position: relative;
}
.header img {
	width: 100%;
	height: 100%;
}

.header .sign {
	position: absolute;
	right: 10px;
	bottom: 20px;
	z-index: 2;
	color: #fff;
	font-size: 12px;
}

.container {
	position: relative;
	background-image: url('../imgs/container_1.png');
	background-position: center;
	background-size: cover;
	height: 8.2rem;
}


.swiper-container, .swiper-container-video {
    width: 100%;
    display: block;
    overflow: hidden;
}
.swiper-container img {
    width: 100%;
}

.swiper-container-video img {
    width: 100%;
    height: 80px;
}

.swiper-container1 .swiper-pagination-bullet {
	background: #ccc;
	opacity: 0.3;
}
.swiper-container1 .swiper-pagination-bullet-active {
	background: #ccc;
	opacity: 1;
}

.container-setting {
	width: 100%;
}
.container-setting img {
	width: 100%;
}

.form-container {
	width: 100%;
	padding: 40px 20px;
	background: url(../imgs/img_02.jpg) no-repeat 0 0;
    background-size: 100% 100%;
}

.form-container .button {
	width: 60%;
	background-color: rgba(3, 44, 81, 1);
	color:#fff;
}
.mui-form {
	padding: 60px 20px 20px 20px;
}
.mui-form img {
	width: 100%;
	margin-bottom: 40px;
}

.mui-textfield>label {
	font-size: 14px;
	color: #3e3a39;
	overflow: hidden;
}
.mui-textfield>input {
	font-size: 14px;
	border-bottom: 1px solid #757575;
}
.mui-select>select {
	color: #3e3a39;
	background-image: none;
	font-size: 14px;
	border-bottom: 1px solid #757575;
}

.mui-select>label {
	color: #3e3a39;
	font-size: 14px;
	overflow: hidden;
}

.mui-select>label .arrow {
	position: absolute;
	right: 15px;
	top: 0;
	display: inline-block;
    border-top: 1px solid;
    border-right: 1px solid;
    width: 10px;
    height: 10px;
    border-color: #3e3a39;
    transform: rotate(135deg);
}

.auth-label a {
	color: #3e3a39;
	font-size: 13px;
}

.mui-checkbox>label>input[type=checkbox] {
	margin-top: 6px;
}
.mui-btn {
	display: block;
	width: 100%;
	font-size: 16px;
    color: #fff;
    height: 40px;
	letter-spacing: 4px;
	border: 1px solid;
	border-image: linear-gradient(to right, #79aebd, #fff) 1;
	background: none;
}
.mui-btn:hover, .mui-btn:focus, .mui-btn:active {
	background: none;
	color: #fff;
}

.modal {
	width: 95%;
	height: 90%;
	background-color: #fff;
	padding: 10px;
}
.modal .modal-container{
	width: 100%;
	height: 100%;
	overflow: scroll;
}
.modal h2{
	text-align: center;
	font-weight: bold;
}

video::--webkit-media-controls-play-button {
  display: none !important;
  -webkit-appearance: none !important;
}

.container-peizhi .rule-list {
	border: 1px solid #fafafa;
	overflow: hidden;
}
.container-peizhi .rule-list .item{
	display: flex;
	color: #fff;
	border-bottom: 1px solid #fafafa;
	font-size: 12px;
}
.container-peizhi .rule-list .item:last-child {
	border-bottom: none;
}
.font14 {
	font-size: 14px;
}
.rule-list .title {
	background: #4d8be0;
}
.rule-list .rule {
	background: #135fc6;
}
.rule-list .title .label, .rule-list .title .value {
	font-size: 18px;
	border-right: none;
	padding: 10px 20px;
}
.rule-list .title .value {
	font-weight: bold;
	text-align: right;
	margin-right: 20px;
}

.rule-list .font14 .label, .rule-list .font14 .value { 
	font-size: 14px;
	padding: 8px 20px;
}
.item .label {
	flex: 1;
	width: 48%;
	border-right: 1px solid #fafafa;
	font-size: 12px;
	padding: 8px 20px;
}
.item .label:last-child {
	border-right: none;
}
.item .value {
	/* flex: 1; */
	width: 52%;
	font-size: 12px;
	padding: 8px 0px 8px 10px;
}

/* 表格样式 */
.configBox {
	position: relative;
	width: 100%;
}
.configTitle {
	width: 100%;
}
.configSmBox {
	width: 100%;
	padding: .2rem 0;
	z-index: 99;
}
.config-items {
	/* background-color: #084f72; */
	/* border-radius: 8px; */
	margin-bottom: 1px;
	border: 1px solid #fff;
}
.config-item {
	display: flex;
	padding: 0 12px;
	border-bottom: 1px solid #fff;
}
 .font-bold {
	 font-weight: bold;;
 }
.item-left {
	/* width: 30%; */
	padding: 6px 10px 6px 0px;
	display: flex;
    align-items: center;
}
.item-only-line {
	width: 100%;
	padding: 6px 0;
	display: flex;
    align-items: center;
}
.item-right {
	flex: 1;
	padding: 6px 0 6px 6px;
	display: flex;
    align-items: center;
	justify-content: right;
	
}
.item-right-line {
	border-right: 1px solid #000;
}

.com-text-h1 {
	font-size: 18px;
	font-weight: bold;
	color: #fff;
}
.com-text-h1 div { 
	font-size: 18px;
}
.com-text-h2 {
	font-size: 16px;
	font-weight: bold;
	color: #fff;
}
.com-text-h2 div {
	font-size: 16px;
}
.com-text {
	font-size: 14px;
	color: #fff;
}

.com-text div {
	font-size: 14px;
	color: #fff;
}

.com-text-small {
	font-size: 13px!important;
	color: #fff;
}
.com-text-small div { 
	font-size: 13px!important;
}

.com-text-ss {
	font-size: 12px!important;
	color: #fff;
}
.com-text-ss div { 
	font-size: 12px!important;
}

.swiper-button-next {
	position: absolute;
	top: 2.5rem;
	right: 2px;
	width: 22px;
	height: 22px;
	background: url(../imgs/next.png) no-repeat 2px 4px;
    background-size: 70% 70%;
}
.swiper-button-next::after, .swiper-button-prev::after{
	content: '';
}

.swiper-button-prev {
	position: absolute;
	top: 2.5rem;
	left: 2px;
	width: 22px;
	height: 22px;
	background: url(../imgs/prev.png) no-repeat 2px 4px;
    background-size: 70% 70%;
}
.container-peizhi .swiper-slide {
    padding: 0 0.3rem;
}

.mui-form .mui-textfield{
	height: 40px;
	padding-top: 4px;
	border: 1px solid;
	border-image: linear-gradient(to right, #79aebd, #fff) 2;
}

.mui-form .mui-select {
	position: relative;
	height: 40px;
	padding-top: 4px;
	border: 1px solid;
	border-image: linear-gradient(to right, #79aebd, #fff) 1;
}

.mui-form .mui-select::after {
	width: 10px;
	height: 10px;
	border: solid #fff;
	border-width: 0 0 2px 2px;
	transform: translate(-50%, -50%) rotate(-45deg);
	position: absolute;
	content: '';
	right: 4px;
	top: 16px;
}

.mui-textfield, .mui-select {
	margin-bottom: 16px;
}
.mui-textfield>input {
	border-bottom: none;
	color: #fff;
	padding-left: 18px;
}
.mui-textfield>input::placeholder {
	color: #fff;
	font-size: 16px;
}

.mui-select>select {
	border-bottom: none;
	background-image: none;
	color: #fff!important;
	padding-left: 18px;
}

.mui-select{
	position: relative;
}

.mui-textfield>label {
	font-size: 14px;
}
.mui-select>select {
	color: #aaa;
}
.mui-select>label {
	font-size: 14px;
}
.mui-checkbox a {
	color: #fff;
	font-size: 12px;
}
.auth-label {
	display: flex;
	/* justify-content: ; */
	align-items: center;
}
.jquery-modal { 
	z-index: 999;
}
.checkbox-open {
	position: relative!important;
	margin-top: 0!important;
	margin-right: 5px;
}
